<div class="row">
  <div class="col-lg-8 mx-auto">
    <h1>Edit Post</h1>
    <%= render "form", post: @post %>
    <div class="mt-3">
      <%= link_to "Back to Post", @post, class: "btn btn-link" %>
    </div>
  </div>
</div>